body {
  background-color: #f1f2f6;
}
.containers {
  padding-top: 40px;
  margin: 20px;
  height: 100vh;
  display: grid;
  max-width: 500px;
  margin: 0 auto;
}
.text {
  font-size: 1.5rem;

  font-weight: bold;
  text-align: center;
}
.soundClips {
  padding: 30px;
}

article {
  padding-top: 20px;
}
p {
  margin: 10px;
  padding: 10px;
}
#text-here {
  text-align: center;
}
.cards {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 40px;
  display: block;
  align-items: center;
  height: 30vh;
}
.slides {
  display: none;
}
/* Fade animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
button:hover {
  opacity: 0.6;
  cursor: pointer;
}
article {
  padding-top: 20px;
}
.content {
  padding: 50px;
}
button {
  margin: 10px;
}
